main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 1100px;
    height: 400px;
}

.containerParteEscrita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #4150D2;
    background-size: cover;
    width: 40%;
    height: 100%;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    padding-left: 50px;
}

.tituloSite{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 10%;
}

.paragrafoTelaDeLogin{
    font-size: 24px;
    width: 400px;
    height: 64px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
}

.ParagrafoRodape{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.formDosInputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

.TituloLogin{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

input{
    width: 375px;
    height: 40px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-bottom: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: solid 2px transparent;
    
}

input:hover{
    transition: 400ms;
    border: #4150D2 solid 2px;
    position: relative;
}

label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.containerParteInputs{
   width: 40%;
   height: 100%;
   padding-left: 40px;
   border-top-right-radius: 9px; 
   border-bottom-right-radius: 9px; 
   border-right: solid #FFFFFF 1px;
   border-top: solid #FFFFFF 1px;
   border-bottom: solid #FFFFFF 1px;
   box-shadow: 0px 4px 40px -7px rgba(0, 0, 0, 0.25);
}

.botaoLogin{
    width: 376px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 50px;
    gap: 10px;
    background-color: #415AF3;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 600;
}

.arrasteMobile{
    display: none;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 768px){
    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        width: 100%;
        height: 100%;
        padding-left: 0;
    }

    .containerParteEscrita{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #4150D2;
        width: 100%;
        height: 640px;
    }

    .tituloSite{
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        font-weight: 100%;
        font-size: 30px;
        margin: 0% 0 20% 0;
    }

    .paragrafoTelaDeLogin{
        font-size: 24px;
        width: 100%;
        height: 70px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 10%;
    }

    .ParagrafoRodape{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 10%;
    }

    .arrasteMobile{
        display: flex;
        width: 100px;
        height: 100px;
        margin-top: 85px;
        align-items: center;
        justify-content: center;
    }

    .arrasta{
        margin-left: 200px;
        width: 100px;
        height: 100px;
        transform: rotate(90deg);
        transform-origin: left top 0;
    }

    .containerParteInputs{
        width: 100%;
        height: 630px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: none;
     }
     .TituloLogin{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 24px;
        margin-left: 44%;
        margin-bottom: 85px;
    }

    .formDosInputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }

    label{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-family: 'Inter';
        font-style: normal;
        width: 90%;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        font-weight: bold;
        margin-left: 4%;
        
    }

    input{
        width: 80%;
        height: 40px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        margin-bottom: 25px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        border: solid 2px transparent;
        margin-top: 15px;
        margin-left: 10%;
    }

    .botaoLogin{
        margin-top: 30px;
        margin-left: 17%;
        width: 73%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #415AF3;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        color: #FFFFFF;
        font-family: 'Inter';
        font-weight: 600;
    }

    .containerParteEscrita{
        padding: 0;
        width: 100%;
    }

    .containerParteInputs{
        width: 100%;
        padding-left: 0;
    }
}

@media screen and (max-width: 375px){
    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        width: 100%;
        height: 100%;
        padding-left: 0;
    }

    .containerParteEscrita{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #4150D2;
        width: 100%;
        height: 640px;
    }

    .tituloSite{
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        font-weight: 100%;
        font-size: 30px;
        margin: 0% 0 20% 0;
    }

    .paragrafoTelaDeLogin{
        font-size: 24px;
        width: 100%;
        height: 70px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 10%;
    }

    .ParagrafoRodape{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 10%;
    }

    .arrasteMobile{
        display: flex;
        width: 100px;
        height: 100px;
        margin-top: 85px;
        align-items: center;
        justify-content: center;
    }

    .arrasta{
        margin-left: 200px;
        width: 100px;
        height: 100px;
        transform: rotate(90deg);
        transform-origin: left top 0;
    }

    .containerParteInputs{
        width: 100%;
        height: 630px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: none;
     }
     .TituloLogin{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 24px;
        margin-left: 39%;
        margin-bottom: 85px;
    }

    .formDosInputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }

    label{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-family: 'Inter';
        font-style: normal;
        width: 90%;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        font-weight: bold;
        margin-left: 4%;
        
    }

    input{
        width: 80%;
        height: 40px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        margin-bottom: 25px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        border: solid 2px transparent;
        margin-top: 15px;
        margin-left: 10%;
    }

    .botaoLogin{
        margin-top: 30px;
        margin-left: 23.2%;
        width: 60%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #415AF3;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        color: #FFFFFF;
        font-family: 'Inter';
        font-weight: 600;
    }

    .containerParteEscrita{
        padding: 0;
        width: 100%;
    }

    .containerParteInputs{
        width: 100%;
        padding-left: 0;
    }
}