button {
  cursor: pointer;
  font-weight: 600;
}

/* .modal__container {
  height: 18rem;
} */

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  background-color: var(--color-white);
}

.modal.editProfile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 83%;
  background-color: var(--color-white);
  margin-top: 15px;
}

.modal__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.box__actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45px;
  gap: 1px;
}

.box__actions.description {
  height: 90px;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #343a40;
}

.title.description {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #343a40;
}

.textArea {
  outline: 0;
  background: var(--color-whitesmoke);
  font-family: inherit;
  border: none;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  margin-top: 5px;
}

.textArea.description {
  height: 100%;
  font-family: inherit;
  font-style: normal;
}

.modal__submit {
  border: none;
  border-radius: 5px;
  background: var(--color-brand-1);
  padding: 5px;
  color: #fff;
}

.modal__submit {
  border: none;
  border-radius: 5px;
  background: var(--color-brand-1);
  padding: 5px;
  color: #fff;
}

fieldset {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 5px;
}

.container__action {
  padding: 1rem 0;
}

.checkbox {
  font-weight: 600;
  font-size: 0.9rem;
}

.container__box {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.modal__submit {
  font-family: inherit;
}

.delete,
.save {
  width: 50%;
}

select {
  font-family: inherit;
  color: var(--color-black-1);
}

.delete {
  background-color: var(--color-whitesmoke);
  color: var(--color-black-1);
  transition: 400ms;
}

.delete:hover {
  background-color: var(--color-red-2);
  color: var(--color-white);
}

.modal--delete {
  width: 100%;
  background-color: inherit;
}

.modal--delete:hover {
  background-color: inherit;
}

.modal__alert-container--delete {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.deleteConfirm {
  width: 50%;
  background-color: var(--color-red-2);
}

.title--delete-habit {
  font-weight: 700;
}

.description--delete-habit {
  font-size: 0.8rem;
}

.deleteConfirm:hover {
  background-color: var(--color-red-1);
}

.cancel {
  background-color: var(--color-whitesmoke);
  color: var(--color-black-1);
  transition: 400ms;
  width: 50%;
}

.cancel:hover {
  background-color: var(--color-brand-1);
  color: var(--color-white);
}

.flat {
  height: 18rem;
  max-width: 30rem;
}
